<h1 align="center">Payment Mediator Demo (HTTP API)</h1>

<p>
This site demonstrates a basic implementation of a payment mediator which can
be used to register payment apps, and route
<a href="http://w3c.github.io/webpayments/proposals/core-messages/#paymentrequest">payment request</a>s
and
<a href="http://w3c.github.io/webpayments/proposals/core-messages/#paymentresponse">payment response</a>s.
This demo is designed for non-interactive payments use cases. For example,
auto payment of utility bills, business-to-business payments, a car paying
for a parking spot (Internet of Things), etc. For more information, see the
<a href="http://w3c.github.io/webpayments/proposals/web-payments-http-api/">Web Payments HTTP API specification</a>.
</p>

<p>
The steps below will guide you through the basic Web Payments HTTP API
ecosystem.
</p>

<p>
Before you can process payments, you must first install a payment app.
</p>

<p>
To perform a purchase with your payment app, your software will:
</p>

<ol>
  <li>
Retrieve a payment request from a merchant.
  </li>
  <li>
Send the payment request to your payment app.
  </li>
  <li>
Receive a payment response from your payment app.
  </li>
  <li>
Send the payment response to the merchant.
  </li>
</ol>

<p>
The source for this demonstration can be found on Github under the
<a href="https://github.com/digitalbazaar/http-mediator-demo.web-payments.io">digitalbazaar/http-mediator-demo.web-payments.io</a>
project.
</p>
